USE [master]
GO
/****** Object:  Database [C:\USERS\$XZIAO\DOCUMENTS\BOOK-INVENTORY-SYSTEM-MAIN\BOOKS_INVENTORY_MONITORING_SYSTEM\BOOKS_INVENTORY_MONITORING_SYSTEM\DB.MDF]    Script Date: 11/22/2025 6:38:05 PM ******/
CREATE DATABASE [C:\USERS\$XZIAO\DOCUMENTS\BOOK-INVENTORY-SYSTEM-MAIN\BOOKS_INVENTORY_MONITORING_SYSTEM\BOOKS_INVENTORY_MONITORING_SYSTEM\DB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB', FILENAME = N'C:\Users\$xziao\Documents\Book-Inventory-System-main\Books_inventory_monitoring_system\Books_inventory_monitoring_system\DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_log', FILENAME = N'C:\Users\$xziao\Documents\Book-Inventory-System-main\Books_inventory_monitoring_system\Books_inventory_monitoring_system\DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\$XZIAO\DOCUMENTS\BOOK-INVENTORY-SYSTEM-MAIN\BOOKS_INVENTORY_MONITORING_SYSTEM\BOOKS_INVENTORY_MONITORING_SYSTEM\DB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\$XZIAO\DOCUMENTS\BOOK-INVENTORY-SYSTEM-MAIN\BOOKS_INVENTORY_MONITORING_SYSTEM\BOOKS_INVENTORY_MONITORING_SYSTEM\DB.MDF]
GO
/****** Object:  Table [dbo].[Booktab]    Script Date: 11/22/2025 6:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booktab](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](200) NOT NULL,
	[Genre] [nvarchar](100) NULL,
	[Authors] [nvarchar](200) NOT NULL,
	[Publishers] [nvarchar](200) NOT NULL,
	[BookDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/22/2025 6:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[BookBorrowed] [nvarchar](200) NULL,
	[BookBorrowedQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
